viewport > clamp > box > preferencesgroup:nth-child(1) {
    opacity: 0;
    margin-top: -999px;
}

viewport > clamp > box > preferencesgroup > box > box > clamp > picture {
    opacity: 0;
    margin-top: -999px;
}